[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
aiosqlite = "*"
greenlet = "*"
pydantic = "*"
pydantic-settings = "*"
numpy = "*"
python-dotenv = "*"
apscheduler = "*"
structlog = "*"
python-dateutil = "*"
forex-python = "*"
yfinance = "*"
pandas = "*"
httpx = "*"
beautifulsoup4 = "*"
sqlglot = "*"
pycountry = "*"
mkdocs = "*"
mkdocs-material = "*"
websockets = "*"
uvicorn = "*"
mergedeep = "*"
websocket-client = "*"
justetf-scraping = {git = "https://github.com/Alfystar/justetf-scraping.git", ref = "main"}
python-multipart = "*"
babel = "*"
cachetools = "*"
bcrypt = "*"
email-validator = "*"
python-magic = "*"
argcomplete = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = "*"
ruff = "*"
mypy = "*"
pytest-cov = "*"
coverage = {extras = ["toml"], version = "*"}
gevent = "*"
tabulate = "*"
openpyxl = "*"

[requires]
python_version = "3.11"
